@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
 
h1 {  
    text-align: center;  
    padding: 40px;  
    background-color: purple;  
    color: rgba(255, 255, 255, 255);  
    }  
  
#clear{  
width: 270px;  
border: 3px solid black;  
    border-radius: 3px;  
    padding: 20px;  
    background-color: red;  
}  
  
.formstyle  
{  
width: 300px;  
height: 530px;  
margin: auto;  
border: 3px solid black;  
border-radius: 5px;  
padding: 20px;  
}  
  
  
  
input  
{  
width: 20px;  
background-color: skyblue;  
color: black;  
border: 3px solid blue;  
    border-radius: 5px;  
    padding: 26px;  
    margin: 5px;  
    font-size: 15px;
      
}  
  
  
#calc{  
width: 250px; 
background-color: palegreen;  
border: 5px solid black;  
    border-radius: 3px;  
    padding: 20px;  
    margin: auto;  
}  
  
